.live-bg{
    background-image: url('../../media/web.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}
.live-btn{
   background-color: black;
    padding: 7px 15px;   
    box-shadow: none;
    color: #8b0000;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 15px;
    border: none;
}
.live-h4{
    font-size: 32px;
    font-weight: bold;
}
.live-pd{
    padding-top: 100px;
    padding-bottom: 100px;
}