.color-one{
    color: #26a0d3 ;
}
.color-two{
    color: #ffc107 ;
}
.token{
    background-image: url('../../media/platformbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}
.token-p{
    padding-top: 120px;
    padding-bottom: 100px;
}
.tab-one{    
    background-color: rgb(23, 108, 165);
    padding: 3px 80px;
    color: rgb(255, 255, 255);
}
.liststyle{
    list-style-type: disc;
}
.tab-two{
    background-color: rgb(255, 193, 7);
    padding: 3px 45px;
    color: rgb(255, 255, 255);
}
.tab-three{
    background-color: rgb(91, 63, 144);
    padding: 3px 30px;
    color: rgb(255, 255, 255);
}
.tab-four {
    background-color: rgb(200, 30, 80);
    padding: 3px 10px;
    color: rgb(255, 255, 255);
}
.tab-five{
    background-color: rgb(235, 56, 116);
    padding: 3px 10px;
    color: rgb(255, 255, 255);
}
.tab-six {
    background-color: rgb(47, 172, 206);
    padding: 3px 4px;
    color: rgb(255, 255, 255);
}
.tab-seven{
    background-color: rgb(245, 140, 139);
    padding: 3px 0;
    color: rgb(255, 255, 255);
}
.token-img{
    max-width: 100%;
    height: auto;
}